.loader{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.fa-spinner{
    font-size: 18rem;
    position: absolute;
    margin-top: 500px;
    color: $colour-secondary;
}

.loader .fa-utensils{
    font-size: 5rem;
    position: absolute;
    margin-top: 500px;
    color: $colour-primary;
}