.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        position: absolute;
        margin-top: 450px;
        opacity: 0;
        animation: loader-logo 3s ease-in-out;
    }
}

.fa-spinner{
    font-size: 18rem;
    position: absolute;
    margin-top: 500px;
    color: $colour-secondary;
    opacity: 0;
    animation: loader 1s 3 ease-in-out;
}

.loader .fa-utensils{
    font-size: 5rem;
    position: absolute;
    margin-top: 500px;
    color: $colour-primary;
    opacity: 0;
    animation: loader 3s reverse ease-in-out;
}