body{
    font-family: 'Bahnschrift', sans-serif;
    color: $colour-text-primary;
}

h1{
    font-weight: bold;
    font-size: 1.6rem;
}

h2{
    font-weight: lighter;
    font-size: 1rem;
}

header h3{
    font-size: 0.9rem;
    font-weight: lighter;
    color: $colour-text-secondary;
}